{%extends "base.html" %}
{%block content%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('stock')}}">Склад</a></li>
    <li class="breadcrumb-item active" aria-current="page">Документы</li>
  </ol>
</nav>
<div class="row">
    <div class="p-0 form-group ml-3 mt-4 mb-2">
        <input type="text" class="form-control" id="search" placeholder="Поиск по таблице">
    </div>
  </div>
  <div class="row mb-5">
  <div class="col">
  <table  id=mytable class="table table-sm table-hover">
      <thead>
        <tr>
          <td>Документ</td>
          <td>Добавивший</td>
          <td>Кол-во</td>
          <td>Время</td>
          <td>Комментарий</td>
          <td></td>
        </tr>
      </thead>
      <tbody style="overflow: auto; height:400px;">
      {% for item in stocks[::-1]%}
        <tr>
          <td class="py-0" >{{item.get_document().document_type}}</td>
          <td class="py-0" >{{item.get_document().get_maker().username}}</td>
          <td class="py-0">{{item.count}}</td>
          <td class="py-0">{{item.get_document().date}}</td>
          <td class="py-0">{{item.get_document().comment}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm py-0" data-toggle="modal" data-target="{{'#'+item.get_document().get_name()}}"> &times;</button>
        
            <div class="modal fade" id='{{item.get_document().get_name()}}' tabindex="-1" role="dialog" aria-labelledby="{{item.get_document().get_name()+'Label'}}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h5 class="modal-title">Удалить документ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                  <div class="modal-footer">
                    <a href="{{url_for('delete_document', document_id=item.get_document().id)}}">
                      <button type="button" class="btn btn-danger">Удалить</button>
                    </a> 
                  </div>
                </div>
              </div>
            </div>
            
          </td>
        </tr>
      {%endfor%}
      </tbody>
  </table>
  </div>
{% endblock %}