{% extends "base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('home_page')}}">Заказы</a></li>
      <li class="breadcrumb-item active" aria-current="page">Выполненные заказы</li>
    </ol>
  </nav>
<main role="main" class="container-fluid">
        <div class="p-0 form-group mb-1 mr-2 pull-right">
                <input type="text" class="form-control col-4" id="search" placeholder="Поиск по таблице">
              </div>
    <div class="card-body px-0 py-0 bbody">
        <div id='orders' style="overflow: auto; height:100%;">
            {%for order in orders%}
            {%if order.product_orders!=[]%}
            <div class="card gedf-card mb-3" id='order{{order.id}}'>
                <div class="card-header py-1 pr-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class=" row ">
                                <div class="h5 m-0">Заказ №{{order.order_item}}</div>
                                <div class="h7 text-muted ml-2">{{order.get_maker().username}}</div>
                                <div class="h7 text-muted ml-2">{{order.date}}</div>
                                <div class="h7 text-muted ml-2">сделать до: {{order.endtime}}</div>
                                <div class="h7 ml-2 text-muted mr-2"><b>{{order.order_status}}</b></div>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="card-body px-0 py-0">
                    <table class="table table-condensed custab">
                        <thead class='m-0'>
                            <tr>
                                <th colspan=2  class='p-1'>Наименование</th>
                                <th class='p-1'>Артикул</th>
                                <th class='p-1'>Кол-во</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in order.product_orders%}
                            <tr>
                                <td colspan=2>{{item.get_product().product_name}}</td>
                                <td>{{item.get_product().product_item}}</td>
                                <td>{{item.count}}</td>
                            </tr>
                            {%endfor%}
                            {%if order.comment%}
                            <tr>
                                <td class='py-1 text-danger'>
                                    <b>Комментарий: {{order.comment}}</b>
                                </td>
                            </tr>
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>
    </div>
    </div>
</main>


{% endblock %}