{% extends "base.html" %}
            {% block content %}
                <main role="main" class="container">

                        <div class="starter-template">
                          <h1>Светильники</h1>
                          <p class="lead">Просто заглушка.<br> Потом решить что здесь будет.</p>
                        </div>
                        {%if orders!=[]%}
                        {%for order in orders%}
                        <div class="card gedf-card">
                          <div class="card-header">
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div class="ml-2">
                                          <div class="h5 m-0">Заказ №</div>
                                          <div class="h7 text-muted">{{order.date}}</div>
                                      </div>
                                  </div>
                                  <div>
                                    <button type="button" class="close" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                              </div>
      
                          </div>
                          <div class="card-body">
                            {%for item in order.product_orders%}
                              <div class="text-muted h5 mb-2">{{item.get_product().product_name}}</div>
      
                              <p class="card-text">
                                  {{item.get_document().comment}}
                              </p>
                            {%endfor%}
                          </div>
                      </div>
                      {%endfor%}
                      {%endif%}
                      </main>
            {% endblock %}