<div class="card-header py-1 pr-1">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-between align-items-center">
      <div class=" row ">
        <div class="h5 m-0">Заказ №{{order.order_item}}</div>
        <div class="h7 text-muted ml-2">{{order.get_maker().username}}</div>
        <div class="h7 text-muted ml-2">{{order.date}}</div>
        <div class="h7 text-muted ml-2">сделать до: {{order.endtime}}</div>
        <div class="col ml-3 "><button type="button" class="py-0 btn btn-sm btn-outline-primary updateButton"
            order_id={{order.id}}>Обновить</button></div>
      </div>
    </div>
    <button type="button" class="btn py-0" data-toggle="modal" data-target="{{'#'+order.get_name()}}">&times;</button>
    <div class="modal fade" id='{{order.get_name()}}' tabindex="-1" role="dialog"
      aria-labelledby="{{order.get_name()+'Label'}}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title">Удалить заказ??</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('delete_order', id = order.id)}}"><button type="button"
                class="btn btn-danger">Удалить</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="card-body px-0 py-0">
  <table class="table table-condensed custab p-0">
    <thead class='m-0'>
      <tr>
        <th>Наименование</th>
        <th>Артикул</th>
        <th>Кол-во</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
      {%for item in order.product_orders%}
      <tr>
        <td>{{item.get_product().product_name}}</td>
        <td>{{item.get_product().product_item}}</td>
        <td>{{item.count}}</td>
        <td>
          <h6>
            {%if item.status=='Резерв'%}
            <a href="{{url_for('untouched_details', order = item.id, product = item.get_product().id )}}">
              <span class="badge badge-danger"> Резерв
              </span>
            </a>
            {%else%}
            <span class="badge badge-success">
              Резерв
            </span>
            {%endif%}
          </h6>
        </td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>