{%extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="col">
    <div class="row">
        {%if 'Технолог' in roles or 'Admin' in roles%}
      <div class='col-2 px-0 ml-3 my-3'><a href="{{url_for('create_product')}}"><button type="button" class="btn btn-success">Добавить</button></a></div>
      {%endif%}
      <div class="p-0 form-group mt-3">
          <input type="text" class="form-control" id="search" placeholder="Поиск по таблице">
      </div>
    </div>
    <table id='mytable' class="table table-sm table-hover">
    <thead>
      <tr>
        <td  class="py-0">Наименование</td>
        <td  class="py-0">Артикул</td>
        <td class="py-0"></td>
      </tr>
    </thead>
    <tbody style="overflow: auto; height:100%;">
    {% for product in products%}
    <tr>
        <td class="py-0">{{product.product_name}}</td>
        <td class="py-0">{{product.product_item}}</td>
        <td class="py-0">
            <a href="{{url_for('product_info', product = product.id)}}"><button type="button" class="btn btn-success btn-sm mr-2 py-0">&#8230;</button></a>
            {%if 'Технолог' in roles or 'Admin' in roles%}
            <button type="button" class="btn btn-danger btn-sm mr-3 py-0" data-toggle="modal" data-target="#p{{product.id}}">&times;</button>
            {%endif%}
            <button type="button" class="btn btn-info btn-sm mr-3 py-0 downloadButton" data-toggle="modal"
          data-target="#download" product='{{product.id}}'><img src="static/images/pencil.png" width="16"
            height="16" alt="" style="vertical-align:middle"></button>
            <div class="modal fade" id='p{{product.id}}' tabindex="-1" role="dialog" aria-labelledby="{{product.get_name()+'Label'}}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h5 class="modal-title">Удалить товар?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <a href="{{url_for('delete_product', id = product.id)}}"><button type="button" class="btn btn-danger">Удалить</button></a>
                  </div>
                </div>
              </div>
            </div>
        </td>
      </tr>
    {%endfor%}
    </tbody>
    <div class="modal fade" id='download' tabindex="-1" role="dialog" aria-labelledby="downloadLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content uploadingBlock">
  
        </div>
      </div>
    </div>
</table>

</div>
<script>
  $(document).ready(function () {
    let product = 0;
    $(document).on('click', '.downloadButton', function () {
      product = $(this).attr('product');
      req = $.ajax({
        url: '/upload_product_form',
        type: 'POST',
        data: {
          'product': product,
        }
      });
      req.done(function (data) {
        $('.uploadingBlock').html(data);
      });


    });
    $(document).on('click', '.upload', function () {
      req = $.ajax({
        url: '/upload_product_form',
        type: 'POST',
        data: {
          'product': product,
        }
      });
      req.done(function (data) {
        $('.uploadingBlock').html(data);
      });
    });
    $(document).on('click', '#upload-file-btn', function () {

      var form_data = new FormData($('#upload-file')[0]);
      name = ($('#file')[0].value).split('\\')[2]
      console.log(name)
      $.ajax({
        url: '/product_name',
        type: 'POST',
        data: {
          'product': product,
          'name':name,
        }
      });
      $.ajax({
            type: 'POST',
            url: '/upload',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log('Success!');
            },
        });
      req = $.ajax({
        url: '/upload_product_form',
        type: 'POST',
        data: {
          'product': product,
        }
      });
      req.done(function (data) {
        $('.uploadingBlock').html(data);
      });
    });
  });
</script>
{% endblock %}