{%extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="col">
    <div class="row">
      <div class='col-2 px-0 ml-3 my-3'><a href="{{url_for('create_product')}}"><button type="button" class="btn btn-success">Добавить</button></a></div>
      <div class="p-0 form-group mt-3">
          <input type="text" class="form-control" id="search" placeholder="Поиск по таблице">
      </div>
    </div>
    <table id='mytable' class="table table-sm table-hover">
    <thead>
      <tr>
        <td  class="py-0">Наименование</td>
        <td  class="py-0">Артикул</td>
        <td class="py-0"></td>
      </tr>
    </thead>
    <tbody style="overflow: auto; height:400px;">
    {% for product in products%}
    <tr>
        <td class="py-0">{{product.product_name}}</td>
        <td class="py-0">{{product.product_item}}</td>
        <td class="py-0">
            <a href="{{url_for('product_info', product = product.id)}}"><button type="button" class="btn btn-success btn-sm mr-2 py-0">&#8230;</button></a>
            
            <button type="button" class="btn btn-danger btn-sm mr-3 py-0" data-toggle="modal" data-target="{{'#'+product.get_name()}}">&times;</button>
            <div class="modal fade" id='{{product.get_name()}}' tabindex="-1" role="dialog" aria-labelledby="{{product.get_name()+'Label'}}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h5 class="modal-title">Удалить товар?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <a href="{{url_for('delete_product', id = product.id)}}"><button type="button" class="btn btn-danger">Удалить</button></a>
                  </div>
                </div>
              </div>
            </div>
        </td>
      </tr>
    {%endfor%}
    </tbody>
</table>

</div>
{% endblock %}