{%extends 'base.html'%}

{%block content%}
<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('product_table')}}">Товары</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{product.product_name}}</li>
   </ol>
</nav>

{%- macro recurse(specifications,parrent,tab) %}
{%- for specification in specifications %}
{%if specification.get_type()=='spec'%}
{% if specification.component_type == 'Детали корпуса'%}
<tr>
   <td class='m-{{tab}}' scope="row">{{specification.get_component().component_name}}</td>
   <td class='m-{{tab}}'>{{specification.get_component().component_unit}}</td>
   <td class='m-{{tab}}'>{{specification.count}}</td>
</tr>

   {%if specification.get_children(specification.get_component().id)%}
   {{recurse(specification.get_children(specification.get_component().id),specification.get_component().id,tab+1)}}
   {%endif%}
{%endif%}

{%else%}
<tr>
<td class='m-{{tab}}' scope="row">{{specification.component_name}}</td>
   <td class='m-{{tab}}'>{{specification.component_unit}}</td>
   <td class='m-{{tab}}'>{{specification.get_count(parrent)}}</td>
</tr>
{%if specification.get_children(specification.id)%}
{{rec(specification.get_children(specification.id), specification.id, tab+1)}}
{%endif%}
{%endif%}
{%endfor%}
{%- endmacro %}


<div class="row mt-2">

   <div class='col-4'>
      <div class="col">
         <p>Артикул: <span>{{product.product_item}}</span></p>
      </div>
      <div class="col">
         <p>Материал <span>{{product.product_material}}</span></p>
      </div>
      <div class="col">
         <p>Мощность: <span>{{product.product_power}}</span></p>
      </div>
      <div class="col">
         <p>Вес: <span>{{product.product_weight}}</span></p>
      </div>
      {%if 'Технолог' in roles or 'Admin' in roles%}
      <div class="col p-0 pr-2">

         <div class="p-0 col"><a
               href="{{url_for('product_specification', product = product.id, det = 'hollow')}}"><button type="button"
                  class="btn btn-success btn-sm mr-3">Изменить спецификацию</button></a></div>
         <div class="row p-0 pr-4">
            <div class="p-0 col-2 ml-3 mr-2 mt-2"><a
                  href="{{url_for('create_product', cloned_product = product.id)}}"><button type="button"
                     class="btn btn-info btn-sm mr-3">Клонировать</button></a></div>
            <div class="p-0 pr-2 col-1 ml-5 mt-2"><a href="{{url_for('delete_product', id = product.id)}}"><button
                     type="button" class="btn btn-danger btn-sm mr-3">Удалить</button></a></div>
         </div>
         <div class="row p-0 pr-4">
            <div class="p-0 col ml-3 mr-2 mt-2"><button onClick="javascript:CallPrint('print-content');" type="button"
                  class="btn btn-secondary btn-sm mr-3">Печать</button></div>
         </div>
      </div>
      {%endif%}

   </div>
   <div id="print-content" class=" m-0 col-8">
      <div class="row">
         <div class="col">
            <p>Наименование: <span><strong>{{product.product_name}}</strong></span></p>
         </div>
      </div>
      <div class=" m-0 col">

         <table class="table table-sm table-hover  ">
            <h6>Детали корпуса</h6>
            <thead>
               <tr>
                  <td scope="col">Деталь</td>
                  <td scope="col">Ед.изм</td>
                  <td scope="col">Кол-во</td>
                  <td></td>
               </tr>
            </thead>
            <tbody>
               {{recurse(specifications, None, 0)}}
            </tbody>
         </table>
      </div>
      <div class=" m-0 col">
         <table class="table table-sm table-hover  ">
            <h6> Электротехнические детали</h6>
            <thead>
               <tr>
                  <td scope="col">Деталь</td>
                  <td scope="col">Ед.изм</td>
                  <td scope="col">Кол-во</td>
                  <td></td>
               </tr>
            </thead>
            <tbody>
               {% for specification in specifications%}
               {% if specification.component_type == 'Электротехнические детали'%}
               <tr>
                  <td scope="row">{{specification.get_component().component_name}}</td>
                  <td>{{specification.get_component().component_unit}}</td>
                  <td>{{specification.count}}</td>
               <tr>
                  {%if specification.get_children(specification.get_component().id)%}
                  {%for item in specification.get_children(specification.get_component().id)%}
               <tr>
                  <td>{{item.component_name}}</td>
                  <td>{{item.component_unit}}</td>
                  <td>{{item.count}}</td>
               </tr>

               {%endfor%}
               {%endif%}
               </tr>
               </tr>
               {%endif%}
               {%endfor%}
               <tr>
               </tr>
            </tbody>
         </table>
      </div>
      <div class=" m-0 col">
         <table class="table table-sm table-hover  ">
            <h6>Герметики</h6>
            <thead>
               <tr>
                  <td scope="col">Деталь</td>
                  <td scope="col">Ед.изм</td>
                  <td scope="col">Кол-во</td>
                  <td></td>
               </tr>
            </thead>
            <tbody>
               {% for specification in specifications%}
               {% if specification.component_type == 'Герметики'%}
               <tr>
                  <td scope="row">{{specification.get_component().component_name}}</td>
                  <td>{{specification.get_component().component_unit}}</td>
                  <td>{{specification.count}}</td>
               <tr>
                  {%if specification.get_children(specification.get_component().id)%}
                  {%for item in specification.get_children(specification.get_component().id)%}
               <tr>
                  <td>{{item.component_name}}</td>
                  <td>{{item.component_unit}}</td>
                  <td>{{item.count}}</td>
               </tr>
               {%endfor%}
               {%endif%}
               </tr>
               </tr>
               {%endif%}
               {%endfor%}
               <tr>
               </tr>
            </tbody>
         </table>
      </div>

      <div class=" m-0 col">
         <table class="table table-sm table-hover  ">
            <h6>Метизы</h6>
            <thead>
               <tr>
                  <td scope="col">Деталь</td>
                  <td scope="col">Ед.изм</td>
                  <td scope="col">Кол-во</td>
                  <td></td>
               </tr>
            </thead>
            <tbody>
               {% for specification in specifications%}
               {% if specification.component_type == 'Метизы'%}
               <tr>
                  <td scope="row">{{specification.get_component().component_name}}</td>
                  <td>{{specification.get_component().component_unit}}</td>
                  <td>{{specification.count}}</td>
               <tr>
                  {%if specification.get_children(specification.get_component().id)%}
                  {%for item in specification.get_children(specification.get_component().id)%}
               <tr>
                  <td>{{item.component_name}}</td>
                  <td>{{item.component_unit}}</td>
                  <td>{{item.count}}</td>
               </tr>
               {%endfor%}
               {%endif%}
               </tr>
               </tr>
               {%endif%}
               {%endfor%}
               <tr>
               </tr>
            </tbody>
         </table>
      </div>

      <div class=" m-0 col">
         <table class="table table-sm table-hover  ">
            <h6> Упаковка</h6>
            <thead>
               <tr>
                  <td scope="col">Деталь</td>
                  <td scope="col">Ед.изм</td>
                  <td scope="col">Кол-во</td>
                  <td></td>
               </tr>
            </thead>
            <tbody>
               {% for specification in specifications%}
               {% if specification.component_type == 'Упаковка'%}
               <tr>
                  <td scope="row">{{specification.get_component().component_name}}</td>
                  <td>{{specification.get_component().component_unit}}</td>
                  <td>{{specification.count}}</td>
               <tr>
                  {%if specification.get_children(specification.get_component().id)%}
                  {%for item in specification.get_children(specification.get_component().id)%}
               <tr>
                  <td>{{item.component_name}}</td>
                  <td>{{item.component_unit}}</td>
                  <td>{{item.count}}</td>
               </tr>
               {%endfor%}
               {%endif%}
               </tr>
               </tr>
               {%endif%}
               {%endfor%}
               <tr>
               </tr>
            </tbody>
         </table>
      </div>

      <div class=" m-0 col">
         <table class="table table-sm table-hover  ">
            <h6> Расходные материалы</h6>
            <thead>
               <tr>
                  <td scope="col">Деталь</td>
                  <td scope="col">Ед.изм</td>
                  <td scope="col">Кол-во</td>
                  <td></td>
               </tr>
            </thead>
            <tbody>
               {% for specification in specifications%}
               {% if specification.component_type == 'Расходные материалы'%}
               <tr>
                  <th scope="row">{{specification.get_component().component_name}}</th>
                  <td>{{specification.get_component().component_unit}}</td>
                  <td>{{specification.count}}</td>
               <tr>
                  {%if specification.get_children(specification.get_component().id)%}
                  {%for item in specification.get_children(specification.get_component().id)%}
               <tr>
                  <td>{{item.component_name}}</td>
                  <td>{{item.component_unit}}</td>
                  <td>{{item.count}}</td>
               </tr>
               {%endfor%}
               {%endif%}
               </tr>
               </tr>
               {%endif%}
               {%endfor%}
               <tr>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>

<script>
   function CallPrint(strid) {
      var prtContent = document.getElementById(strid);
      var prtBootstrap = '<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">';
      var prtCSS = '<link rel="stylesheet" href="static/style.css">'
      var WinPrint = window.open('', '', 'left=50,top=50,width=800,height=640,toolbar=0,scrollbars=1,status=0');
      WinPrint.document.write(prtContent.innerHTML);
      WinPrint.document.write('</div>');
      WinPrint.document.close();
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
      prtContent.innerHTML = strOldOne;
   }
</script>
{%endblock%}