
<tr id='row{{component["obj"][0][0].id}}'>
    <td>
        {{component['obj'][0][2].product_name}}
    </td>
    <td><span class=""> {{component['count']}}</span>
        {%if component['workflow_count']%}
        / {{component['workflow_count']}}
        {%endif%}
    </td>
    <td class=p-1>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
            data-target="#p{{component['obj'][0][0].id}}">
            Приход
        </button>
        <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse"
            data-target="#col{{component['obj'][0][0].id}}" aria-expanded="false" aria-controls="collapseExample">
            Товар
        </button>
        <div class="modal fade" id="p{{component['obj'][0][0].id}}" tabindex="-1" role="dialog"
            aria-labelledby="exModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exModal">Сделано</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id='wc{{component["obj"][0][0].id}}'
                            class="form-control form-control-sm wf_count" placeholder="Кол-во" aria-label="Username">
                    </div>
                    <div class="modal-footer">
                        <button type="button" count='#wc{{component["obj"][0][0].id}}'
                            class="btn btn-sm btn-success pDocumentsButton" data-toggle='modal'
                            data-target="#pDocuments{{component['obj'][0][0].id}}">Оформить</button>
                        <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pDocuments{{component['obj'][0][0].id}}" tabindex="-1" role="dialog"
            aria-labelledby="exModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exModal">Сделано: <span class='counter'
                                id='counter{{component["obj"][0][0].id}}'></span></h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <!-- Table -->
                            <table class="table table-bordered">
                                <!-- Table Heading -->
                                <tbody>
                                    <tr class="">
                                        <th><input type="checkbox" class="custom-control-input" id="customCheck1"
                                                checked></th>
                                        <th>Название</th>
                                        <th>Заказ</th>
                                        <th>Нужное кол-во</th>
                                    </tr>
                                    {%for o in component['obj']%}
                                    <tr class="doccheck">
                                        <td>
                                            <input head='{{o[0].id}}' class='checkbox' type="checkbox"
                                                id="pCheck{{o[1].id}}" value="{{o[1].id}}">
                                        </td>

                                        <td>
                                            {{o[0].get_product().product_name}}</td>
                                        <!-- Date Of Birth -->
                                        <td>№{{o[1].order_item}}</td>
                                        <!-- Location -->
                                        {%if o[0].pworkflow_count%}

                                        <td class='count pCount{{o[1].id}}' check='{{o[1].id}}'>
                                            {{o[0].count - o[0].pworkflow_count}}
                                        </td>
                                        {%else%}
                                        <td class='count pCount{{o[1].id}}' check='{{o[1].id}}'>{{o[0].count}}
                                        </td>
                                        {%endif%}
                                    </tr>
                                    {%endfor%}
                                    <tr class="doccheck">
                                        <td>
                                            <input head='{{component["obj"][0][0].id}}' class='checkbox' type="checkbox"
                                                id="pCheckStock" value="-1">
                                        </td>
                                        <!-- Name -->
                                        <td colspan='3'>На склад</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" stock_id='{{component["obj"][0][0].id}}'
                            class="btn btn-sm btn-success pReport" time='{{time}}'
                            doc='{{component["obj"][0][1].id}}'>Оформить</button>
                        <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>