{%extends "base.html" %}
{% block content %}
{% block flash_messages %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {%if 'success' not in message and 'must' not in message%}
            <div id=message class="alert alert-success">{{ message|safe }}</div>
            {%endif%}
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}
<div class="row">
  </div>
  <div class="row">
  <div class="col">
  <table  id=mytable class="table table-sm table-hover">
      <thead>
        <tr>
          <td>Наименование</td>
          <td>Артикул</td>
          <td>Единицы измерения</td>
          <td>Требуется</td>
          <td>Дата поставки</td>
        </tr>
      </thead>
      <tbody style="overflow: auto; height:400px;">
      {% for item in notes%}
        <tr>
          <td class="py-0" >{{item.get_component().component_name}}</td>
          <td class="py-0">{{item.get_component().component_item}}</td>
          <td class="py-0" >{{item.get_component().component_unit}}</td>
          <td class="py-0"> {{item.n_count}}</td>
          <td class="py-0">
            {{item.arrival_date}}
            {%if 'Снабжение' in roles or 'Admin' in roles%}
          <button type="button" class="btn btn-success btn-sm ml-2 mr-3 py-0" data-toggle="modal" data-target="{{'#'+item.get_name()}}">+</button></td>
            {%endif%}
        </tr>
            <div class="modal fade" id='{{item.get_name()}}' tabindex="-1" role="dialog" aria-labelledby="{{item.get_name()+'Label'}}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h5 class="modal-title">Дата поставки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form class='form' action = "" method = post>
                    <div class="modal-body">
                      <div class="row px-3 py-2">
                          
                      </div>
                      <div class="row px-3 py-2">
                          <div class="col mt-2"> Дата поставки:</div>
                      <div class="col"> {{form.entrydate( class_="mr-2 mb-2 form-control", placeholder="ДД-ММ-ГГГГ")}}</div>
                      </div>
                      {{form.id(value=item.id, type="hidden")}}
                    </div>
                    
                    <div class="modal-footer">
                        {{form.submit( class_="btn btn-success")}}
                    </div>
                  </form>
                </div>
              </div>
            </div>
      {%endfor%}
      </tbody>
  </table>
  </div>
  </div>
<script>
  $(function() {
    $('.selectpicker').on('change', function(){
      if($(this).val()=='Списание'){
      $('#count').attr("value", '0');
      $('.count_div').hide();
      }
      else{
        $('.count_div').show();
      }
    });
  });
  </script>
<script>
   $(function() {
    $('.close').on('click', function(){
      $('.count_div').show();
      $('.selectpicker').attr("value", 'Приход');
    });
  });
</script>	
<script>
    $(function() {
     $('#submit').on('click', function(){
       $('#count').show();
     });
   });
 </script>	
<script>
  $('.alert').show(200, function(){
    setTimeout(function(){
      $('.alert').hide(500);
    }, 2000);
  });
  </script>
{% endblock %}