{%block content%}
<div class="row">
  </div>
  <div class="row">
  <div class="col">
  <table  id=mytable class="table table-sm table-borderless">
      <thead>
        <tr style= 'border-bottom:1px solid #dee2e6;'>
          <td>Наименование</td>
          <td>Артикул</td>
          <td>Единицы измерения</td>
          <td>Требуется</td>
        </tr>
      </thead>
      <tbody style="overflow: auto; height:100%;">
      {% for item in notes%}
        <tr style= 'border-bottom:1px solid #dee2e6;'>
          <td class="py-0" >{{item.get_component().component_name}}</td>
          <td class="py-0">{{item.get_component().component_item}}</td>
          <td class="py-0" >{{item.get_component().component_unit}}</td>
          <td class="py-0"> {{item.n_count}}</td>
        </tr>
      {%endfor%}
      </tbody>
  </table>
  </div>
  </div>
{% endblock %}