<div class="table-responsive">
    <table class="table searchable">
        {%if type!='add'%}
        <thead>
            <tr>
                <th colspan=2 class='py-0' style='border:none;'>Наименование</th>
                <th class='py-0' style='border:none;'>Артикул</th>
                <th class='py-0' style='border:none;'>Единицы измерения</th>
            </tr>
        </thead>
        {%endif%}
        <tbody>
            {%for det in details%}
            <tr id='d{{det.id}}'>
                <td colspan=2 class='py-0' colspan2>{{det.component_name}}</td>
                <td class='py-0'>{{det.component_item}}</td>
                <td class='py-0'>{{det.component_unit}}</td>
                {%if type=='add'%}
                <td class='py-0'><button type="button" class="btn btn-success btn-sm mr-2 py-0 addingButton"
                        component_id={{det.id}}>+</button></td>
                {%else%}
                <td class='py-0'><button type="button" class="btn btn-danger btn-sm mr-3 py-0" data-toggle="modal"
                        data-target="#c{{det.id}}"  id='m{{det.id}}'>&times;</button>
                    <div class="modal fade" id='c{{det.id}}' tabindex="-1" role="dialog"
                        aria-labelledby="c{{det.id}}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h5 class="modal-title">Удалить компонент?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer"><button type="button"
                                        class="btn btn-danger delete_component_shop" component='{{det.id}}'>Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                {%endif%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>