{%if stock.workflow_count is none or stock.workflow_count < stock.count%}
<tr id = 'row{{stock.id}}'>
    <td>
        {{stock.get_component().component_name}}
    </td>
    <td><span class=""> {{stock.count}}</span>
    {%if stock.workflow_count%}
        / {{stock.workflow_count}}
    {%endif%}
</td>
    <td class=p-1>
            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                data-target="#c{{stock.get_component().id}}">
                Приход
            </button>
            <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse"
                data-target="#col{{stock.id}}" aria-expanded="false" aria-controls="collapseExample">
                Товар
            </button>
        <div class="modal fade" id="c{{stock.get_component().id}}" tabindex="-1" role="dialog"
            aria-labelledby="exModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exModal">Сделано</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id='wc{{stock.id}}' class="form-control form-control-sm wf_count" placeholder="Кол-во"
                            aria-label="Username">
                    </div>
                    <div class="modal-footer">
                        <button type="button" stock_id='{{stock.id}}' class="btn btn-sm btn-success report">Оформить</button>
                        <button type="button" class="btn btn-sm btn-light"
                            data-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{%endif%}