{%for time in times%}
{%if components[time]!=[]%}
<p class='mb-0'>
    <b class='text-primary'>{{time}}</b>
</p>
<table class="table table-sm">
    <tbody>
        {%for component in components[time]%}
        {%if component['count']>component['obj'][2].stock_count and (component['obj'][0].workflow_count is none or component['count']-component['obj'][2].stock_count>=component['obj'][0].workflow_count)%}
        <tr id='row{{component["obj"][0].id}}'>
            <td>
                {{component['obj'][2].component_name}}
            </td>
            <td><span class="">
                    {%if component['obj'][2].stock_count<component['count'] and component['obj'][2].stock_count>0%}
                    {{component['count']-component['obj'][2].stock_count}}
                    {%else%}
                    {{component['count']}}
                    {%endif%}
                </span>

                {%if component['obj'][0].workflow_count%}
                / {{component['obj'][0].workflow_count}}
                {%endif%}
            </td>
            <td class=p-1>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                    data-target="#c{{component['obj'][2].id}}" >
                    Приход
                </button>
                <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#col{{component['obj'][0].id}}" aria-expanded="false" aria-controls="collapseExample">
                    Товар
                </button>
                <div class="modal fade" id="c{{component['obj'][2].id}}" tabindex="-1" role="dialog" aria-labelledby="exModal"
                    style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exModal">Сделано</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" id='wc{{component["obj"][0].id}}'
                                    class="form-control form-control-sm wf_count" placeholder="Кол-во"
                                    aria-label="Username">
                            </div>
                            <div class="modal-footer">
                                <button type="button" stock_id='{{component["obj"][0].id}}'
                                    class="btn btn-sm btn-success report" time={{time}}>Оформить</button>
                                <button type="button" class="btn btn-sm btn-light"
                                    data-dismiss="modal">Отменить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {%endif%}
        {%endfor%}
    </tbody>
</table>
{%for order in components[time]%}
<div class="collapse py-0" id="col{{order['obj'][0].id}}">
    <div class="card card-body py-0">
        {%for o in order['obj'][1].product_orders%}
        <li>{{o.get_product().product_name}}</li>
        {%endfor%}
    </div>
</div>
{%endfor%}
{%endif%}
{%endfor%}