{% extends "base.html" %}
{% block content %}
<div class="col-lg-12 col-xl-6 grid-margin stretch-card flex-column">
    <div class="card">
        <div class="card-body px-0 pb-0 border-bottom">
            <div class="d-flex justify-content-between mb-2 px-2">
                <h4 class="card-title ml-2">Заказ 000 </h4>
                <div class="mr-2">
                    сделать до 01.01.2020
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h6 class="text-dark font-weight-bold mt-2">Товар 1 200 шт</h6>
                </div>
            </div>
            <div class="table-responsive">
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-sm btn-outline-secondary ">
                        Выполнен
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        req = $.ajax({
            url: '/workshop_orders',
            type: 'POST',
            data: {
                'shop': 'Распиловочный участок',
            }
        });
        req.done(function (data) {
        $('.table-responsive').html(data);
      });
    });
</script>
{%endblock%}