{%extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 col-sm-2 col-md-2 col-xl-2 grid-margin stretch-card">
        <div class="card">
            <div class="card-body px-0 pb-0 border-bottom">
                <div class="px-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="card-title ">Список цехов</h6>
                    </div>
                </div>
            </div>
            <div class="card-body px-1 pt-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {%for workshop in workshops%}
                    <a class="nav-link workshopLinks" id="v-pills-home-tab" data-toggle="pill" href="#v{{workshop.id}}"
                        role="tab" aria-controls="v-pills-home" aria-selected="false"
                        workshop={{workshop.id}}>{{workshop.name}}</a>
                    {%endfor%}

                </div>
            </div>
        </div>
        <button class="btn btn-success mt-2 col btn-sm" type=button id="v-pills-home-tab" data-toggle="modal"
            aria-selected="false" data-target="#addShop">Добавить цех</button>
    </div>

    <div class="col-12 col-sm-10 col-md-10 col-xl-10 grid-margin stretch-card px-0">
        <div class="card">
            <div class="col-lg grid-margin stretch-card">
                <div class="row">
                    <div class="col-4 mt-2  px-0"><input type="text" class="form-control " id="search"
                            placeholder="Поиск по таблице">

                    </div>
                    <div class="mt-2 ml-2  px-0"><button type="button" class="btn btn-success  " id='detailAdding'
                            data-toggle="modal" data-target="#addDetail" shop="">Добавить деталь</button></div>

                </div>
            </div>
        </div>
        <div class="modal fade" id='addShop' tabindex="-1" role="dialog" aria-labelledby="addShop" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center" style='border-bottom: none;'>
                        <h5 class="modal-title">Добавить цех</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class='form' action="" method=post>
                            <input type="text" class="form-control" id="shopName" placeholder="Название цеха">
                    </div>
                    <div style='border-top: none;' class="modal-footer pt-0">
                        <button type="submit" class="btn btn-primary px-0" id='shopAdding'>Добавить</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="card-body" id=components>
                <div class="modal fade" id='addDetail' tabindex="-1" role="dialog" aria-labelledby="addDetail"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center" style='border-bottom: none;'>
                                <h5 class="modal-title">Добавить деталь</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="row">
                                <div class="modal-body" id='components'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on('click', '.workshopLinks', function () {
            let workshop = $(this).attr('workshop')
            $("#detailAdding").attr("shop", workshop)
            req = $.ajax({
                url: '/component_list',
                type: 'POST',
                'data': {
                    'workshop': workshop,
                    'type': 'show'
                }
            });

            req.done(function (data) {
                $('#components').html(data);
            });

        });
        $(document).on('click', '#shopAdding', function () {

            let name = $("#shopName").val()
            req = $.ajax({
                url: '/make_shop',
                type: 'POST',
                'data': {
                    'name': name,
                }
            });

            req.done(function (data) {
                $('#nav-tab').html(data);
            });

        });
        $(document).on('click', '.addingButton', function () {

            let component_id = $(this).attr('component_id')
            let workshop_id = $('#detailAdding').attr('shop')
            console.log(workshop_id)
            req = $.ajax({
                url: '/add_component',
                type: 'POST',
                'data': {
                    'component_id': component_id,
                    'workshop_id': workshop_id,
                }
            });

            req.done(function (data) {
                $('#shop' + workshop_id).prepend(data);
            });

        });
        $(document).on('click', '#detailAdding', function () {

            req = $.ajax({
                url: '/component_list',
                type: 'POST',
                'data': {
                    'type': 'add',
                }
            });

            req.done(function (data) {
                $('#components').html(data);
            });

        });
    });
</script>


{%endblock%}