{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 col-sm-2 col-md-2 col-xl-2 grid-margin stretch-card">
        <div class="card">
            <div class="card-body px-0 pb-0 border-bottom">
                <div class="px-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="card-title ">Список цехов</h6>
                    </div>
                </div>
            </div>
            <div class="card-body px-1 pt-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {%for workshop in workshops%}
                    <a class="nav-link workshopLinks" id="shop{{workshop.id}}" data-toggle="pill"
                        href="#v{{workshop.id}}" role="tab" aria-controls="v-pills-home" aria-selected="false"
                        workshop={{workshop.id}}>{{workshop.name}}</a>
                    {%endfor%}

                </div>
            </div>
        </div>
        <button class="btn btn-success mt-2 col btn-sm" id='reload'>Обновить</button>
    </div>
    <div class="col-12 col-sm-10 col-md-10 col-xl-10 grid-margin stretch-card px-0 bbody">
        <div class="modalLoad"></div>
        <div class="card">
            <div class="card-body px-0 pb-0 border-bottom">
                <div class="d-flex justify-content-between mb-2 px-2">
                    <h4 class="card-title ml-2" id='title'>Распиловочный участок</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', '.workshopLinks', function () {
            shop = $(this).attr('workshop');
            $('#title').text($(this).text());
            $('.bbody').addClass('loading');
            req = $.ajax({
                url: '/workshop_orders',
                type: 'POST',
                data: {
                    'shop': shop,
                }
            });
            req.done(function (data) {
                $('.table-responsive').html(data);
                $('.bbody').removeClass('loading');
            });
        });
        $(document).on('click', '#reload', function () {
            window.location.reload();
        });
        $('#shop1').click();

    });
</script>
<script>
    var time = new Date().getTime();
    $(document.body).bind("mousemove keypress", function (e) {
        time = new Date().getTime();
    });

    function refresh() {
        if (new Date().getTime() - time >= 120000)
            window.location.reload(true);
        else
            setTimeout(refresh, 10000);
    }

    setTimeout(refresh, 10000);
</script>
<script>
    $(document).ready(function () {
        let docs = [];
        let stocks = [];
        $(document).on('click', '.report', function () {
            stock = $(this).attr('stock_id');
            time = $(this).attr('time');
            doc = $(this).attr('doc');
            console.log('#wc' + stock);
            workflow_count = $('#wc' + stock).val()
            console.log(workflow_count)
            console.log(stocks)
            console.log(docs)
            req = $.ajax({
                url: '/flow_count',
                type: 'POST',
                data: {
                    'stock': stock,
                    'time': time,
                    'workflow_count': workflow_count,
                    'docs': docs,
                    'stocks':stocks,
                }
            });
            docs=[];
            stocks=[];
            req.done(function (data) {
                $('#row' + stock).html(data);
                $('body').removeClass('modal-open')
                $('.modal-backdrop').remove();
            });
        });
        
        $(document).on('click', '.pReport', function () {
            order = $(this).attr('stock_id');
            time = $(this).attr('time');
            doc = $(this).attr('doc');
            console.log('#wc' + order)
            workflow_count = $('#wc' + order).val()
            console.log(workflow_count)
            req = $.ajax({
                url: '/pworkflow_count',
                type: 'POST',
                data: {
                    'time':time,
                    'order': order,
                    'pworkflow_count': workflow_count,
                    'docs':docs,
                }
            });
            req.done(function (data) {
                $('#row' + order).html(data);
                $('body').removeClass('modal-open')
                $('.modal-backdrop').remove();
            });
        });

        $(document).on('click', '.checkbox', function () {
            count = $('.count' + $(this).val()).text()
            _this = $('#counter' + $(this).attr('head')).text();
            if ($(this).attr('checked') == 'checked') {
                for (let doc of docs) {
                    if (doc == +($(this).val())) {
                        docs.splice(docs.indexOf(doc), 1);
                        stocks.splice(docs.indexOf(+$(this).attr('head')), 1);
                    }
                }
                _this = (+_this) + (+count);
                $('.counter').text(_this)
                $(this).removeAttr('checked');
            }
            else {

                _this = (+_this) - (+count);
                $('.counter').text(_this)
                $(this).attr("checked", "checked");
                docs.push(+($(this).val()))
                stocks.push(+($(this).attr('head')))
            }
            console.log(stocks)
            console.log(docs)

            let items = $('.doccheck .count')
            for (let item of items) {
                let count = ($(item).text());
                if (count > +_this) {
                    $(item).css('background', 'red');
                }
                else {
                    $(item).css('background', 'green');

                }
            }
        });
        // писать здесь
    });
</script>
{%endblock%}